

<style>
    input
    {
        display: block;
        width:500px;
        margin:20px;
    }
</style>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">编辑问题:</div>
    <div class="panel-body">

    <%=form_for @answer1, :url => {:action => 'update' }  do |f|%>
        <input style="display:none" name="id" value="<%=@answer1.id%>" />
        <%=render :partial => 'form', :locals => {:f=>f}%>
        <%=f.submit 'save'%>
    <% end %>
    </div>
   </div>
</div>