
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">下载json文件:</div>
    <div class="panel-body">
        <form role="form" method="post">
          <div class="form-group">
            <input name="tag" placeholder="please input tag name">

          </div>
          <input type="submit" class="btn btn-default" value="去下载吧">
        </form>
      </div>
    </div>
</div>
