


<script type="text/javascript" src="/js/mytools.js"></script>
<!--<a onclick="next()">next</a>-->
<style>
  .english
  {
    //display: none;
      font-size: 12px;
  }
  .translate
  {
     // display: none;
  }
  .wiki
  {
      font-size: 12px;
      display: none;
  }
  .picture
  {
      //display: none;
      width: 78px;
  }
  .inputform
  {
      background-color: blue;
  }
  td
  {
      width:80px;
      height:80px;
  }
  .questionform
  {
      font-size: 11px;
      width: 200px;
      height:200px;
  }
  .answers input
  {
      width:200px;
  }
  .border-bottom
  {
      border-bottom: 1px solid royalblue;
  }
</style>



<div class="col-md-12">
    <div class="col-md-6">
      <div id="form" class="alert alert-info margintop20px" >
        <form role="form questionform" method="post" enctype="multipart/form-data" action="/demo3/addquestion" accept-charset="UTF-8">
          <div class="form-group">
            <label for="english">English</label>
            <input class="form-control" id="english" name="english" placeholder="english" />
          </div>
          <div class="form-group">
            <label for="chinese">chinese</label>
            <input class="form-control" id="chinese" name="chinsese" placeholder="翻译" />
          </div>
          <div class="form-group">
            <label for="english">wiki</label>
            <textarea class="form-control" id="wiki" name="wiki" placeholder="wiki" ></textarea>
          </div>
          <div class="form-group">
            <label for="img">图片上传</label>
            <input  type="file" id="img" name="file" placeholder="english" />
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>

    </div>

  <!--answers-->
  <div class="col-md-6">


      <div class="col-md-12 margintop20px" >

        <div class="col-md-12 border-bottom">
          <div class="col-md-1">
            <input type="checkbox">
          </div>
          <div class="col-md-8">
            <span > terrestrial planet; Valles Marineris; Olympus Mons</span>
          </div>
          <div class="col-md-3">
            <div class="btn btn-default">modify</div>
            <div class="btn btn-default">delete</div>
          </div>
        </div>
        <div class="col-md-12 border-bottom">
          <div class="col-md-1">
            <input type="checkbox">
          </div>
          <div class="col-md-8">
            <span > terrestrial planet; Valles Marineris; Olympus Mons</span>
          </div>
          <div class="col-md-3">
            <div class="btn btn-default">modify</div>
            <div class="btn btn-default">delete</div>
          </div>
        </div>
      </div>

    <div id="form" class=" col-md-12 alert alert-info margintop20px">
      <form role="form questionform">
        <div class="form-group">
          <label for="english">English</label>
          <input class="form-control" id="english" placeholder="english" />
        </div>
        <div class="form-group">
          <label for="img">图片上传</label>
          <input  type="file" id="img" placeholder="english" />
          <label for="right">是答案</label>
          <input  id="right" type="checkbox">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

  </div>
</div>

