
<style>

  .answer
  {
      color:red;
  }


  /* Start by setting display:none to make this hidden.
     Then we position it in relation to the viewport window
     with position:fixed. Width, height, top and left speak
     speak for themselves. Background we set to 80% white with
     our animation centered, and no-repeating */
  .modal {
      display:    none;
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 )
      url('http://i.stack.imgur.com/FhHRx.gif')
      50% 50%
      no-repeat;
  }

  body.loading {
      overflow: hidden;
  }
  .picture
  {
      width:80px;
      display: inline;

  }
  .picture image
  {
      width:80px;
      height:80px;
  }
  .right
  {
      border:solid 1px ;
  }
  .wrong
  {
      border:solid 1px ;
  }
  .picture:hover
  {
      border:solid 1px;
      color:blue;

  }

  #word {
      font-size: 15px;
      color:#64a3dd;
  }
  .smallenglish
  {
      font-size: 15px;
      color:#64a3dd;
  }
  /* Anytime the body has the loading class, our
     modal element will be visible */
  body.loading .modal {
      display: block;
  }
  .question
  {
    border :solid 1px;
    margin-top: 5px;
    font-size:18px;
    padding:5px;
  }

  ul { list-style-type: none; }

  .hint
  {
     color:red;
     font-size: 20px;
  }
</style>

<script>
    var imgbase = "/images/freda/";
    var audiobase = "/audio/freda/"
    var rightimage = " http://baicizhan.qiniudn.com/pack/assets/done-right.png";
    var wrongimage = " http://baicizhan.qiniudn.com/pack/assets/bg-wrong-status.png";
    var imageplaceholder = "http://assets.baicizhan.com/pack/assets/header_ico_set.png";


    // get question according to index
    function getquestion(index)
    {
        return window.json[index];
    }


    // get the answers of question index
    function getanswers(index)
    {
        var q = getquestion(index);
        var answers = q.answers;
        return answers;
    }

    function test()
    {
        console.log(window.json[0].english);
        q0 = getquestion(0);
        console.log(q0.chinese);
        a0 = getanswers(0)
        console.log(a0[1]);

    }


    $.getJSON("/freda_.json",function(data){
        window.json = data
        //current question index
        window.qindex = 0;
        test();
        render(0);
        bindevent();

    });


    function playaudio(audioname)
    {
        $("#jquery_jplayer_1").jPlayer("setMedia", {
            title: "Bubble",
            mp3: audiobase+ audioname
        }).jPlayer("play");  //在页面load播放的时候自动播放
    }

    function bindevent()
    {

        $("#hint").on("click",function(){
                    $("#chinese").show(200);}
        );


        $(".answer img").on("mouseover",function(){
            var mp3 = $(this).parent().attr("audio");
            playaudio(mp3);
        });

        $(".right").on("click",function(){
            //showchinese();
            console.log("right");
            var mp3 = $(this).parent().attr("audio");
            var english = mp3.split(".")[0];
            var chinese = $(this).parent().attr("translate");
            var text = "<p>" +english+" : "+chinese+"</p>";
            var $text = $(text);
            $text.insertBefore($(this));

            console.log("right"+mp3);
            $imagetag = $(this);
            console.log("log:"+$imagetag[0].tagName);
            if ($imagetag[0].tagName != "IMG"&& $imagetag[0].tagName != "img")
                $imagetag = $imagetag.find("img");
            $imagetag.attr("src",rightimage);
            $imagetag.show();
            setTimeout(next,1000);
        });

        $(".wrong").on("click",function(){
            //showchinese();
            var mp3 = $(this).parent().attr("audio");
            var english = mp3.split(".")[0];
            var chinese = $(this).parent().attr("translate");

            var text = "<p>" +english+" : "+chinese+"</p>";
            var $text = $(text);
            $text.insertBefore($(this));
            console.log("wrong"+mp3);
            //alert("wrong");
            $imagetag = $(this);

            if ($imagetag[0].tagName != "IMG" && $imagetag[0].tagName != "img")
                $imagetag = $imagetag.find("img");

            var imageurl = $imagetag.attr("src");

            $imagetag.attr("src",wrongimage);
            $imagetag.show();

            setTimeout(function () {
                        $text.hide();
                        if(imageurl != "")
                            $imagetag.attr("src",imageurl);
                        else
                            $imagetag.hide();
                    },
                    1000);

        });

    }
    function loadaudio(audioname)
    {
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    title: "Bubble",
                    mp3: audiobase+ audioname
                }).jPlayer("play");  //在页面load播放的时候自动播放

            },
            swfPath: "/js/jplayer",
            supplied: "mp3",
            wmode: "window",
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
        });

    }

    function renderQuestion(index)
    {
        // render quesion
        var q = getquestion(index);
        var type = q.type;

        $("#english").html(q.english);
        $("#chinese").html(q.chinese);
        $("#chinese").hide();

        console.log(q.audio);
        loadaudio(q.audio);
        playaudio(q.audio);

        function bindevent()
        {
            $(".right").on("click",function(){
                showchinese();
                console.log("right");
                //alert("right");
                $imagetag = $(this);
                console.log("log:"+$imagetag[0].tagName);
                if ($imagetag[0].tagName != "IMG"&& $imagetag[0].tagName != "img")
                    $imagetag = $imagetag.find("img");
                $imagetag.attr("src",rightimage);
                $imagetag.show();
                setTimeout(next,1000);
            });

            $(".wrong").on("click",function(){
                showchinese();
                console.log("wrong");
                //alert("wrong");
                $imagetag = $(this);

                if ($imagetag[0].tagName != "IMG" && $imagetag[0].tagName != "img")
                    $imagetag = $imagetag.find("img");

                var imageurl = $imagetag.attr("src");

                $imagetag.attr("src",wrongimage);
                $imagetag.show();

                setTimeout(function () {
                            if(imageurl != "")
                                $imagetag.attr("src",imageurl);
                            else
                                $imagetag.hide();
                        },
                        400);

            });
        }
    }

    function renderAnswers(index)
    {
        var q = getquestion(index);

        var answers = getanswers(index);
        var answers_html = ""

        var right = 0;
        right = 1;

        answers_html = "<table><tr>"
        var i = 0;
        for (i = 0; i < answers.length; i++)
        {
            tmp = answers[i].split('|');
            var imgname = tmp[0];
            var audioname = tmp[1]
            var translate = tmp[2]

            console.log("imag="+imgname);
            var imgurl = imgbase+ imgname;

            if(right == i)
            {
                answers_html += "<td style='border:solid 0px'><div translate= "+translate+"  audio="+audioname+"  class='answer picture' index="+i+"> <img class=right height=200 width=200 src='" + imgurl + "'/></div></td>";
            }
            else
            {
                answers_html += "<td style='border:solid 0px'><div translate= "+translate+"  audio="+audioname+"  class='answer picture' index="+i+"> <img class=wrong height=200 width=200 src='" + imgurl + "'/></div></td>";
            }


            if (i == 1)
                answers_html += "</tr>";
        }
        answers_html += "</tr></table>"


        $("#answers").html(answers_html);


    }
    // ender all the  content of a question
    function render(index)
    {
        renderQuestion(index);
        renderAnswers(index);
    }

    function next()
    {
        window.qindex+=1;
        render(window.qindex);
        bindevent();
    }
</script>

<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div class="col-md-10 col-md-offset-1" style="margin-top:30px;" >


  <div id = "word" class="col-md-5 " style="border:solid 1px;margin-top: 150px">
    <div id="english" class="col-md-12"></div>
    <div id="hint" class="hint col-md-4 col-md-offset-8"><a>hint</a></div>
    <div id="chinese" class="col-md-12" style="display:none"></div>
  </div>
  <div id="answers" class="col-md-7" style="border:solid 0px">
    <div id = "right" class="col-md-7 col-md-offset-2">

    </div>
  </div>
</div>

<!--<a onclick="next()">next</a>-->

<div id="right">

</div>


<script>


</script>