


<script type="text/javascript" src="/js/mytools.js"></script>
<!--<a onclick="next()">next</a>-->
<style>
  .english
  {
    //display: none;
  }
  .translate
  {
     // display: none;
  }
  .wiki
  {
      font-size: 12px;
     // display: none;
  }
  .picture
  {
      //display: none;
      width: 100px;
      //display:inline;
  }
  .inputform
  {
      background-color: blue;
  }
  td
  {
      width:100px;
      height:100px;
  }

  .inline
  {
      display: inline;
  }

</style>

  <div class="col-md-12">


<div class="col-md-12 margintop20px">


  <div class="col-md-12 panel panel-default">
    <div class="col-md-4 panel-body">
      <span class="label label-info english">terrestrial planet</span>
      <span class="label label-info translate">类地行星</span>
      <div class="wiki">火星是和地球一样的岩石行星，这样的统统叫做类地行星。壮哉我大人类！</div>
    </div>
    <div>

      <div class="col-md-6">

       <ul>
         <li>
           <input type="checkbox">
           <span>terrestrial planet; Valles Marineris; Olympus Mons</span>
         </li>
         <li>
           <input type="checkbox">
           <span>terrestrial planet; Valles Marineris; Olympus Mons</span>
         </li>
         <li>
           <input type="checkbox">
           <span>terrestrial planet; Valles Marineris; Olympus Mons</span>
         </li>
         <li>
           <input type="checkbox">
           <span>terrestrial planet; Valles Marineris; Olympus Mons</span>
         </li>
       </ul>

      </div>
      <div class="col-md-2 margintop20px">
        <div class="btn btn-default">编辑</div>
        <div class="btn btn-default">删除</div>
      </div>
    </div>

  </div>

  <div class="col-md-12 panel panel-default">
    <div class="col-md-4 panel-body">
      <span class="label label-info english">terrestrial planet</span>
      <span class="label label-info translate">类地行星</span>
      <div class="wiki">火星是和地球一样的岩石行星，这样的统统叫做类地行星。壮哉我大人类！</div>
    </div>
    <div>

      <div class="col-md-6">

        <div class="col-md-3">
          <div class="col-md-10">
              <a href="#" class="thumbnail picture ">
                <img class="picture" src="http://127.0.0.1:3000/images/mars/5.jpg" alt="picture">
                <input type="checkbox">
              </a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-10">
            <a href="#" class="thumbnail picture ">
              <img class="picture" src="http://127.0.0.1:3000/images/mars/5.jpg" alt="picture">
              <input type="checkbox">
            </a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-10">
            <a href="#" class="thumbnail picture ">
              <img class="picture" src="http://127.0.0.1:3000/images/mars/5.jpg" alt="picture">
              <input type="checkbox">
            </a>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-10">
            <a href="#" class="thumbnail picture ">
              <img class="picture" src="http://127.0.0.1:3000/images/mars/5.jpg" alt="picture">
              <input type="checkbox">
            </a>
          </div>
        </div>



      </div>
      <div class="col-md-2 margintop20px">
        <div class="btn btn-default">编辑</div>
        <div class="btn btn-default">删除</div>
      </div>
    </div>

  </div>
</div>
</div>