
<style>

    .answer
    {
        color:red;
    }
    
    /* Start by setting display:none to make this hidden.
       Then we position it in relation to the viewport window
       with position:fixed. Width, height, top and left speak
       speak for themselves. Background we set to 80% white with
       our animation centered, and no-repeating */
    .modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 )
        url('http://i.stack.imgur.com/FhHRx.gif')
        50% 50%
        no-repeat;
    }

    body.loading {
        overflow: hidden;
    }
    .picture
    {
        width:80px;
        display: inline;

    }
    .picture image
    {
        width:80px;
        height:80px;
    }
    .right
    {
        border:solid 1px ;
    }
    .wrong
    {
        border:solid 1px ;
    }
    .picture:hover
    {
        border:solid 1px;
        color:blue;

    }

    #word {
        font-size: 30px;
        color:#64a3dd;
    }
    .smallenglish
    {
        font-size: 15px;
        color:#64a3dd;
    }
    /* Anytime the body has the loading class, our
       modal element will be visible */
    body.loading .modal {
        display: block;
    }
    .question
    {
        border :solid 1px;
        margin-top: 5px;
        font-size:18px;
        padding:5px;
    }

    ul { list-style-type: none; }

     td
    {
        text-align:center;
        vertical-align: middle;
        width:80px;
        height:80px;
    }

 

    .tddiv
    {
        width:80px;
        height:80px;
        text-align:center;
        vertical-align: middle;
        align:center;
    }

    .pointer img
    {
        display: none;
    }

    #table1 tr
    {
        border:0px;
    }
    #table1 td
    {
        width:250px;
        height:100px;
        border:0px;
    }

    /*.mytips*/
    /*{*/
        /*width:78px;*/
        /*height:78px;*/
    /*}*/
    em{
        color:#ff0000;
        font-size: 20px ;
    }
</style>

<script>
    var imgbase = "/images/pointer/";
    var imgbaseContent = "/images/mars/";
    var rightimage = " http://baicizhan.qiniudn.com/pack/assets/done-right.png";
    var wrongimage = " http://baicizhan.qiniudn.com/pack/assets/bg-wrong-status.png";
    var imageplaceholder = "http://assets.baicizhan.com/pack/assets/header_ico_set.png";

    window.word2pic = {};
    $.getJSON("/demo3_1.json",function(data){
        window.json = data
        //current question index
        window.qindex = 0;
        console.log(data[0].sumary.title);
        console.log(data[0].part2.width);
        console.log(getSquare(0).text);
        render();
        parsegroups();
        addEvent();
        console.log("group",getgroup("1"));
        console.log("group",getgroup("2"));
        activeGroup(window.groupids[0]);
    });

    function getSquare(index)
    {
           return window.json[0].part2.contents[index];
    }

    // create a table with tableid
    // and set its prefix id of td to diprefix
    // and
    function renderTable(idprefix,tableid,divid,width, height)
    {
        var $t_body =  $("<table border=1 id='"+tableid+"'></table>");
        var count = 0;
        for(var i = 0;i < height; i++)
        {
            var $tr = $("<tr></tr>");
            for (var j = 0; j < width; j++)
            {
                var position=i+""+j;
                $td = $("<td id='"+idprefix+position+"'  ondrop='drop(event)' ondragover='allowDrop(event)'></td>");
                $tr.append($td);
                count+=1;
            }
            $t_body.append($tr);

        }

        $("#"+divid).append($t_body);
    }


    function renderContent()
    {
        var contents = window.json[0].part2.contents;
        var length = contents.length;
        var $tds = $("#table1 td");
        var count = 0;

        for (var i = 0; i < length; i++) {
            content = getSquare(i);
            var x = content.x;
            var y = content.y;
            var id = "a" + x + "" + y;


            var type = content.type
            if (type == "text")
            {
                var id = "from"+x+y;
                var innercontent = "<div class='tddivcontent col-md-12' draggable='true' ondragstart='drag(event)' id="+id+" >";
                $td = $tds[count++];
                innercontent += "";
                innercontent += "<div class='col-md-6 words' style='border: solid 3px; '><p>" + content.words + "</p>";
                innercontent += "<p>" + content.text + "</p></div>";

                innercontent += "<div class='col-md-6'><img src='"+imgbaseContent+content.picture+"' width=80 height=80></img>"
                innercontent+="</div></div>";
                $($td).html(innercontent);
             }
        }
    }

    /* get the group json and save it to window.groups

    {
       groupid1:["00","11","12"],
       groupid2:["33","44"];
    }
    */

    window.groupids=[];
    function parsegroups()
    {
        window.groups = {};
        window.currentgroup = 0;

        var contents = window.json[0].part2.contents;
        var length = contents.length;

        var count = 0;

        for (var i = 0; i < length; i++)
        {
            var content = getSquare(i);
            var groups = content.group+"";

            if (groups == undefined || groups == null)
                continue;

            var gs = groups.split(",");

            var x = content.x;
            var y = content.y;
            var id = x + "" + y;

            for(var c = 0; c < gs.length; c++)
            {
                var key = gs[c];
                if( window.groups[key] == undefined || window.groups[key] == null)
                {
                    window.groupids.push(key);
                    window.groups[key] = [];
                }
                var ithgroup = window.groups[key];
                ithgroup.push(id);
            }
        }
        window.groupids = window.groupids.sort();
    }

    // get group according to groupid
    function getgroup(groupid)
    {
        return window.groups[groupid];
    }


    window.colors = ['red']
    window.colorcount = 0;
    window.groupcount=0;
    function testAndActiveGroup()
    {
        var groupid = window.groupids[window.groupcount]
        var group = getgroup(groupid);
        var ret = true;
        for (i = 0;i < group.length; i++)
        {
            var id = group[i];
            var $left = $("#table1 #from"+id);
            if( $left.length != 0)
                ret = false;
        }

        if (ret == true)
        {
            disactiveGroup(groupid);
            window.groupcount += 1;
            groupid = window.groupids[window.groupcount];
            activeGroup(groupid);

        }
    }

    function disactiveGroup(groupid)
    {
        window.currentgroupid = groupid;
        var group = getgroup(groupid);
        var color = window.colors[window.colorcount%window.colors.length];
        window.colorcount+=1;
        for (i = 0;i < group.length; i++)
        {
            var id = group[i];

            var $left = $("#from"+id);
            //$left.css("color","black");
            //$left.css("border","solid 5px red");
            var $right = $("#"+id);
            $right.css("border","solid 1px "+color);
        }
    }
    // active gourp by set them to different color;
    function activeGroup(groupid)
    {
        window.currentgroupid = groupid;
        var group = getgroup(groupid);
        var color = window.colors[window.colorcount%window.colors.length];
        window.colorcount+=1;
        var $firsttd = $($("#table1 tr")[0]);

        for (i = 0;i < group.length; i++)
        {
            var id = group[i];

            var $left = $("#from"+id);

            var $tdparent = $left.parent().parent();

            $left.animate({fontSize:'14px'},"slow");
            $left.css("color",color);
            //$left.css("border","solid 5px red");
            var $right = $("#"+id);
            $right.find("img").show();
            $right.css("border","solid 3px "+color);
            $tdparent.insertBefore($firsttd);
        }


        $("#table1 td").each(function(){
            $div = $(this).find("div");
            if( $div == null || $div == undefined || $div.length == 0)
                $(this).parent().hide();
        });





    }

    // render the pointer vim in the table2
    function renderPointer()
    {
        var contents = window.json[0].part2.contents;
        var length = contents.length;

        for (var i = 0; i < length; i++)
        {
            content = getSquare(i);
            var x = content.x;
            var y = content.y;
            var id = x+""+y;

            var type = content.type
            var innercontent = "";
            if( type == "pointer")
            {
                //innercontent = "<div class='tddiv'>";
                innercontent = "<div class='tddiv mytips' style='display:inline' title='"+content.tips+"'>";
                var picture = content.picture;
                picture = imgbase+picture+".jpg";
                innercontent += "<img width=78 src='"+picture+"'>";
            }
            else if( type == "clue") {
                innercontent = "<div class='tddiv mytips' style='display:inline' title='"+content.text+"'>";
                innercontent += content.text.substr(0,15);
//                var length = 10;
//                if (length > text.length)
//                    length = text.length;
//                 += text.substr(0,length);
            }

            innercontent+="</div>";
            $("#"+id).html(innercontent);
            $("#"+id).attr("class","pointer");
        }
    }

    function addDragDropAction()
    {
//        var $tds = $("#table2 td").not(".pointer");
//        $tds.on("drop","drop(event)");
//        $tds.on("dragover","allowDrop(event)");
//
//        var $tds1 = $("#table1 div");
//        $tds1.attr("draggable","true").on("ondragstart","drag(event)");

    }

    function addEvent()
    {
        $("#active").on("click",function(){
            activeGroup("1");
        });
    }

    function render()
    {
        var width = window.json[0].part2.width;
        var height = window.json[0].part2.height;
        var length = window.json[0].part2.contents.length;
        renderTable("","table2","answers",width,height);
        renderTable("a","table1","picture",1,length);
        renderContent();
        renderPointer();
        addDragDropAction();
    }
</script>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        var targetid = ev.target.id;
        ev.dataTransfer.setData("Text", targetid);
       // alert("drag");
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");
        var targetdata = $(ev.target).attr("id");


        console.log("orignalid = " + data + " targetid:"+targetdata);
        result = data == "from"+targetdata;
        console.log("right="+result);

        if(result == true)
        {

            var component = document.getElementById(data);

            //reorganize the drag content
            $fromcomponent = $(component);

           $img =  $fromcomponent.find("img").first();
           $english = $fromcomponent.find("p").first().text();
           $chinese = $fromcomponent.find("p").last().text();

           // var content = "<div class='mytips' style='font-size:14px;font:bold' title='"+$chinese+"'><p>"+$english+"</p><p>"+$chinese+"</p></div>"
            var imgurl = $img.attr("src");
            //var newimg = "<img width='78' height='78' style='display:none' src='"+imgurl+ "'</img>";
            var content =  "<div class='mytips' title='"+$chinese+"," + $english + "'>"
                    +"<img width=78 height=78 src='"+imgurl+"' style='display: inline;'/>"
                    +" </div>";
            $(ev.target).html(content);
            $("#trash").append(component);
            $(component).attr("css","");
            console.log("drag true");
            testAndActiveGroup();
        }
        else {
            console.log("drag false");
            showerror();
        }

    //        loadtips();
    }


   function showerror()
   {

       $("#error").show(1000).hide(1000);

   }
</script>

<!--<div id="active">active</div>-->
<!--<a class="mytips" title="i am title"> title </a>-->
<div id="error" class='alert alert-danger' style="display:none;width:150px;position:absolute;right:20px;top:400px">
  没放对位置,继续吧~
</div>
<div class="col-md-12 " style="margin-top:0px;" >
  <div id="useagetips" class="col-md-8 col-md-offset-3" style="display:none;margin-top:5px; font-size:13px;" >
    请用鼠标将左边<em>红色</em>格子里的<em style="color:green">文字</em><em>拖到</em>右边对应的<em>红色</em>格子里(鼠标放到右边图片和文字上会有<em>惊喜</em>喔~)
   </div>
</div>

<div class="col-md-12 " style="margin-top:5px;" >
  <div id = "picture" class="col-md-3 ">

  </div>
  <div id="answers" class="col-md-9" style="border:solid 0px">

  </div>
</div>

<!--<a onclick="next()">next</a>-->

<div id="right">

</div>

<div id="trash" style="display: none">

</div>
<script type="text/javascript" src="/js/mytools.js"></script>
<link rel="stylesheet" href="/css/mytools.css">
<script>
  $("#useagetips").show(1000);
  //$("#error").pin({containerSelector: "#answers"})
</script>