
<style>

    .answer
    {
        color:red;
    }
    
    /* Start by setting display:none to make this hidden.
       Then we position it in relation to the viewport window
       with position:fixed. Width, height, top and left speak
       speak for themselves. Background we set to 80% white with
       our animation centered, and no-repeating */
    .modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 )
        url('http://i.stack.imgur.com/FhHRx.gif')
        50% 50%
        no-repeat;
    }

    body.loading {
        overflow: hidden;
    }
    .picture
    {
        width:80px;
        display: inline;

    }
    .picture image
    {
        width:80px;
        height:80px;
    }
    .right
    {
        border:solid 1px ;
    }
    .wrong
    {
        border:solid 1px ;
    }
    .picture:hover
    {
        border:solid 1px;
        color:blue;

    }

    #word {
        font-size: 30px;
        color:#64a3dd;
    }
    .smallenglish
    {
        font-size: 15px;
        color:#64a3dd;
    }
    /* Anytime the body has the loading class, our
       modal element will be visible */
    body.loading .modal {
        display: block;
    }
    .question
    {
        border :solid 1px;
        margin-top: 5px;
        font-size:18px;
        padding:5px;
    }

    ul { list-style-type: none; }

    td
    {
        text-align:center;
        vertical-align: middle;
        width:80px;
        height:80px;
    }
    .tddivcontent
    {
        width:80px;
        text-align:center;
        vertical-align: middle;
        align:center;
    }

    .tddiv
    {
        width:80px;
        height:80px;
        text-align:center;
        vertical-align: middle;
        align:center;
    }

    .pointer img
    {
        display: none;
    }
</style>

<script>
    var imgbase = "/images/pointer/";
    var rightimage = " http://baicizhan.qiniudn.com/pack/assets/done-right.png";
    var wrongimage = " http://baicizhan.qiniudn.com/pack/assets/bg-wrong-status.png";
    var imageplaceholder = "http://assets.baicizhan.com/pack/assets/header_ico_set.png";

    $.getJSON("/demo3_graph.json",function(data){
        window.json = data
        //current question index
        window.qindex = 0;
        console.log(data[0].sumary.title);
        console.log(data[0].part2.width);
        console.log(getSquare(0).text);
        render();
        parsegroups();
        addEvent();
        console.log("group",getgroup("1"));
        console.log("group",getgroup("2"));
        //activeGroup("1");

    });

    function getSquare(index)
    {
           return window.json[0].part2.contents[index];
    }

    // create a table with tableid
    // and set its prefix id of td to diprefix
    // and
    function renderTable(idprefix,tableid,divid,width, height)
    {
        var $t_body =  $("<table border=1 id='"+tableid+"'></table>");
        var count = 0;
        for(var i = 0;i < height; i++)
        {
            var $tr = $("<tr></tr>");
            for (var j = 0; j < width; j++)
            {
                var position=i+""+j;
                $td = $("<td id='"+idprefix+position+"'  ondrop='drop(event)' ondragover='allowDrop(event)'></td>");
                $tr.append($td);
                count+=1;
            }
            $t_body.append($tr);

        }

        $("#"+divid).append($t_body);
    }


    function renderContent()
    {
        var contents = window.json[0].part2.contents;
        var length = contents.length;
        var $tds = $("#table1 td");
        var count = 0;

        for (var i = 0; i < length; i++) {
            content = getSquare(i);
            var x = content.x;
            var y = content.y;
            var id = "a" + x + "" + y;


            var type = content.type
            if (type == "text")
            {
                var id = "from"+x+y;
                var innercontent = "<div class='tddivcontent' draggable='true' ondragstart='drag(event)' id="+id+" >";
                $td = $tds[count++];
                innercontent += "<span>" + content.text + "</span>";
                innercontent+="</div>";
                $($td).html(innercontent);
             }
        }
    }

    /* get the group json and save it to window.groups

    {
       groupid1:["00","11","12"],
       groupid2:["33","44"];
    }
    */

    function parsegroups()
    {
        window.groups = {};
        window.currentgroup = 0;

        var contents = window.json[0].part2.contents;
        var length = contents.length;

        var count = 0;

        for (var i = 0; i < length; i++) {
            var content = getSquare(i);
            var groups = content.group;

            if (groups == undefined || groups == null)
                continue;

            var gs = groups.split(",");

            var x = content.x;
            var y = content.y;
            var id = x + "" + y;

            for(var c = 0; c < gs.length; c++)
            {
                var key = gs[c];
                if( window.groups[key] == undefined || window.groups[key] == null)
                {
                    window.groups[key] = [];
                }
                var ithgroup = window.groups[key];
                ithgroup.push(id);
            }
        }
    }

    // get group according to groupid
    function getgroup(groupid)
    {
        return window.groups[groupid];
    }

    // active gourp by set them to different color;
    function activeGroup(groupid)
    {
        var group = getgroup(groupid);
        for (i = 0;i < group.length; i++)
        {
            var id = group[i];

            var $left = $("#from"+id);
            $left.animate({fontSize:'22px'},"slow");
            $left.animate({fontSize:'18px'},"slow");
            $left.css("color","green");
            //$left.css("border","solid 5px red");
            var $right = $("#"+id);
            $right.find("img").show();
            $right.css("border","solid 3px red");
        }

    }

    // render the pointer vim in the table2
    function renderPointer()
    {
        var contents = window.json[0].part2.contents;
        var length = contents.length;

        for (var i = 0; i < length; i++)
        {
            content = getSquare(i);
            var x = content.x;
            var y = content.y;
            var id = x+""+y;

            var innercontent = "<div class='tddiv'>";
            var type = content.type

            if( type == "pointer")
            {
                var picture = content.picture;
                picture = imgbase+picture+".png";
                innercontent += "<img src='"+picture+"'>";
            }
            else if( type == "link")
                innercontent += content.text;

            innercontent+="</div>";
            $("#"+id).html(innercontent);
            $("#"+id).attr("class","pointer");
        }
    }

    function addDragDropAction()
    {
//        var $tds = $("#table2 td").not(".pointer");
//        $tds.on("drop","drop(event)");
//        $tds.on("dragover","allowDrop(event)");
//
//        var $tds1 = $("#table1 div");
//        $tds1.attr("draggable","true").on("ondragstart","drag(event)");

    }

    function addEvent()
    {
        $("#active").on("click",function(){
            activeGroup("1");
        });

    }

    function render()
    {
        var width = window.json[0].part2.width;
        var height = window.json[0].part2.height;
        renderTable("","table2","answers",width,height);
        renderTable("a","table1","picture",3,height);
        renderContent();
        renderPointer();
        addDragDropAction();
    }
</script>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        var targetid = ev.target.id;
        ev.dataTransfer.setData("Text", targetid);
       // alert("drag");
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");
        var targetdata = $(ev.target).parent().attr("id");


        console.log("orignalid = " + data + " targetid:"+targetdata);
        result = data == "from"+targetdata;
        console.log("right="+result);

        if(result == true)
            ev.target.appendChild(document.getElementById(data));

    }
</script>


<div id="active">active</div>
<div class="col-md-12 " style="margin-top:30px;" >
  <div id = "picture" class="col-md-3 ">

  </div>
  <div id="answers" class="col-md-9" style="border:solid 0px">

  </div>
</div>

<!--<a onclick="next()">next</a>-->

<div id="right">

</div>

<script>


</script>