<!DOCTYPE html>
<html>

<head>

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>


  <!-- 最新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="/js/bootstrap.min.js"></script>
  <!--<script src="/js/jquery.timer.js"></script>-->

  <script type="text/javascript" src="/js/jplayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="/js/jquery.pin.js"></script>


  <title>demo 项目列表</title>
  <style>
      .margintop20px
      {
          margin-top: 20px;
      }

      body {
          background: url("http://baicizhan.qiniudn.com/pack/assets/bg_1920x1080.jpg") repeat scroll 0 0 #fefefe;
          cursor: default;
      }
  </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 5px;">
<%= yield %>

<script>
  $(function(){
      $("tr").on("mouseenter",function(){
          $(this).css("background","blue");
      }).on("mouseleave",function(){
          $(this).css("background","white");
      });
  });

</script>
</div>
</body>
</html>
